@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb{
  background-color: #333F47;
  border-radius: 20px;
  border: 3px solid whitesmoke;
}


body{
    height: fit-content !important;


}

*{
   font-family: 'Exo 2';
}

  button{
    font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: whitesmoke;
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  margin-top: 0.5em;
  }

.svg_icon{
    float: left;
    filter: invert(100%) sepia(82%) saturate(2%) hue-rotate(60deg) brightness(106%) contrast(101%);
}

img.svg_icon.clickable {
    position: relative;
    top: 4em;
}

.main_header_div{

  background-image: url(img/bk.jpg);
    height: 234px;
    background-position: top;
    background-size: cover;
        margin: 1em 0;
    border-radius: 5px;
}



h1.dash_title{

    box-shadow: 0 4px 30px rgb(0 0 0 / 10%); */
    /* backdrop-filter: blur(0px); */
    -webkit-backdrop-filter: blur(0px);
    /* border: 1px solid rgba(241, 224, 224, 0.67); */
    padding: 0.75em;
    font-family: 'Exo 2';
    /* border-radius: 5px; */
    text-align: end;
    color: whitesmoke;
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(128,131,131,0.6096813725490196) 100%); */
    /* border-left: 10px solid whitesmoke; */
    /* background: #000000b8; */
    height: 100%;
}



.treemap_left_right{
  display: flex;

  gap: 2em;
}



.left_column, .right_column{

    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(241, 224, 224, 0.67);

    padding: 1em;
}


.left_column {
    width: 40%;
}


.left_column .select_title{
  display: flex;
  justify-content: space-between;
  background: black;
  color: whitesmoke;
  padding: 0.85em 0.85em 0em 0.85em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  border-left: 10px solid white;
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(128,131,131,0.6096813725490196) 100%);
  background: #000000b8;

}

#left_right_column-countries h1 {
    font-size: 2em;
}

.form-group.shiny-input-container{
  /*width: 200px;
    position: absolute;
    top: 0;
    left: 2em;*/
}

#left_right_column-chart_treemap{
  background: whitesmoke;

}

#left_right_column-chart_treemap{
  cursor: pointer;
}


.left_column #action_btn{
  float: right
      height: 40px !important;
}

.right_column {
    width: 60%;
    display: flex;
    flex-direction: column;
    background: transparent;
}

.right_column .top_overview_card .clubs_stats_info  .teams_list{
  font-weight: 400;
  font-size: 1.05em;

}

.top_overview_card{
  background: whitesmoke;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(241, 224, 224, 0.67);
}

.top_overview_card{
    flex: 0;
    background: black;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(128,131,131,0.6096813725490196) 100%);
    border-radius: 5px;
    padding:  1em;
    border: 2px solid whitesmoke;
    margin-bottom: 1em;
    background: #000000b8;
}

.top_card img.top_card_icon {
    padding: 0.5em 0.5em;
    margin: 0px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.top_card ul.clubs_stats_info {
    margin: 1em 0;
}

.top_card ul.clubs_stats_info li {
    padding: 0.25em;
    width: 100%;
    background: black;

    text-align: end;
    list-style: none;
    font-weight: 700;
    font-size: 1.5em;
}


hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #d5cfcf61;
}


/******************************************/

#right_panels .nav-tabs>li.active>a,
#right_panels .nav-tabs>li.active>a:focus,
#right_panels .nav-tabs>li.active>a:hover{

  background-color: ;
}

.nav-tabs>li>a {
    color: black;
    font-weight: 500;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: whitesmoke;
    cursor: default;
    background-color: lightslategray;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
/******************************************/

.tabbable ul#tabset_main li {
        display: inline-block;
        border-radius: 4px;
        background-color: lightslategray;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 17px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .tabbable ul#tabset_main li a {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        background-color: lightslategray;
        color: white;
        font-size: .7em;
        border:none;
    }


    .tabbable ul#tabset_main li a:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
        transition: 0.5s;
        font-size: 2em;
    }

    .tabbable ul#tabset_main li:hover a {
        padding-right: 15px;
    }

    .tabbable ul#tabset_main li:hover a:after {
        opacity: 1;
        right: 0;
    }


.overview_card_1,
.overview_card_2,
.overview_card_3,
.overview_card_4,
.overview_card_5,
.overview_card_6{
  background: whitesmoke;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(241, 224, 224, 0.67);
}

.overview_card_1 h5,
.overview_card_2 h5,
.overview_card_3 h5,
.overview_card_4 h5,
.overview_card_5 h5,
.overview_card_6 h5{
    background: black;
    width: 100%;
    margin:0px;
    color: lightgray;
    padding: .75em;

}

.overview_card_1 #left_right_column-xg,
.overview_card_2 #left_right_column-gols,
.overview_card_3 #left_right_column-operational_chart,
.overview_card_4 #left_right_column-uptime_chart{
  margin: 0 auto;
}

.overview_card_1 .nav-tabs,
.overview_card_2 .nav-tabs{
  display: flex;
  justify-content: center;
}

.overview_card_1 .nav-tabs li a,
.overview_card_2 .nav-tabs li a{
  font-size: .95em;
}
.overview_cards{
 display: flex;
 flex-wrap: wrap;
 padding-top:1em;
 gap: 3em;
 justify-content: center;
 overflow-y: scroll;
    height: 720px;
}





