@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb{
  background-color: #333F47;
  border-radius: 20px;
  border: 3px solid whitesmoke;
}


body{
    height: fit-content !important;
    padding: 2em;
    background-color: #e2cca3;
    background-image:
    radial-gradient(at 47% 33%, hsl(39.75, 75%, 73%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(197.95, 51%, 93%) 0, transparent 55%);

    background: linear-gradient(113deg, #bdb3a4 0%, #c1d5d9 50%, #a8ced5 100%);
}

*{
   font-family: 'Exo 2';
}

h1.dash_title
{
    background: whitesmoke;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(241, 224, 224, 0.67);
    padding: .25em;
    font-family: 'Exo 2';
        border-radius: 5px;
}


.treemap_box_1box_2{
  display: flex;

  gap: 2em;
}

.treemap, .app_overview{

    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(241, 224, 224, 0.67);

    padding: 1em;


}


.treemap {
    width: 50%;
}

.treemap #action_btn{
  float: right
      height: 40px !important;
}

.app_overview {
    width: 50%;

    display: flex;
    flex-direction: column;
    background: transparent;
}

.top_overview_card,
.overview_card_1,
.overview_card_2,
.overview_card_3,
.overview_card_4{
  background: whitesmoke;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(241, 224, 224, 0.67);

    padding: 1em;
    flex: 1;
}

.top_overview_card{
   flex: 0;
}

.overview_card_1,
.overview_card_2,
.overview_card_3,
.overview_card_4{
    height: 300px;

}


@media only screen and (max-width: 1000px){
body{
  /*background: red;*/
}
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    outline: 2px solid;
    padding: 0.5em;
    border-radius: 5px;
    margin-right: 1.25em;
    margin-bottom: 1.25em;
}

.nav-tabs>li>a.active{
  color:red;
}
